*
{
    box-sizing:border-box;
    list-style:none;
}
html,body
{
    scroll-behavior:smooth;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}
nav div
{
    justify-content: end;
}
#nav-button:hover
{
    border-radius: 4px;
    background-color:#f9fff2;
    color:#fe3e58;
}
section
{
    padding-top: 5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 5%;
    text-align: center;
    background-color:#17315a;
    color:#f9fff2;
}
@media (max-width:540px)
{
    section
    {
        padding: 15%;
    }
}
@media (max-width: 540px) {
  .btn.position-fixed {
    z-index: 1050 !important; 
  }
}
p
{
    font-size:x-large;
}
b
{
    font-size:x-large;
}
h2
{
     border-radius: 4px;
}
div ul li
{
    font-size:x-large;
}
.button5
{
    border-radius:50%;
    width: 45px;
}
#circle
{
    border-radius:50%;
}
.button5:hover
{
    color:#f9fff2;
    background-color:#17315a;   
}
.card:hover
{
    color:#f9fff2;
    background-color:#fe3e58;  
}
section div a
{
    display:inline-block;
    color:#f9fff2;
    text-decoration: none;
    padding:8px;
}
a
{
    border-radius: 4px;
    background-color:#17315a;
}
#linkedin-button:hover
{
    color:#f9fff2;
    background-color:#0A66C2;
}
#github-button:hover
{
    color:#f9fff2;
    background-color:#000000;
}
#gmail-button:hover
{
    color:#f9fff2;
    background-color:#df5043;
}
#whatsapp-button:hover
{
    color:#f9fff2;
    background-color:#25D366;
}
input[type="text"],
input[type="email"],
input[type="submit"]
{
    width:100%;
    padding:4px;
    border-radius:5px;
}
input[type="submit"]:hover
{
    cursor:pointer;
    color:#f9fff2;
    background-color:#17315a;
}
.footer-color
{
    color:#f9fff2;
    background-color:#17315a;
    text-align:center;
}
